.titleContainer {
  margin-bottom: 20px;
  z-index: 2;
}

.title, .subTitle {
  letter-spacing: 5px;
  text-align: center;
  width: 100%;
}

.title, .loading {
  color: yellow;
  font-family: sans-serif;
  font-size: 100px;

}

.subTitle {
  font-family: sans-serif;
  font-size: 50px;
}

.loading {
  font-size: 30px;

}

.homeContainer {
  align-items: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

img {
  height: 100vh;
  position: fixed;
  width: 100%;
  z-index: 1;
}
