.table {
  z-index: 2;
}

.tableHead, .tableBody {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.name {
  border-bottom: 1px solid yellow;
  border-right: 1px solid yellow;
  height: 50px;
  padding-top: 10px;
  text-align: center;
  width: 120px;
}

.surfaceWater {
  border-bottom: 1px solid yellow;
  border-left: 1px solid yellow;
  height: 50px;
  padding-top: 10px;
  text-align: center;
  width: 130px;
}

.terrain, .rotationPeriod, .orbitalPeriod, .diameter, .population {
  border-bottom: 1px solid yellow;
  height: 50px;
  padding-top: 10px;
  text-align: center;
  width: 150px;
}

.population {
  border-right: 1px solid yellow;

}

.orbitalPeriod, .climate, .gravity, .created, .edited {
  border-bottom: 1px solid yellow;
  border-right: 1px solid yellow;
  height: 50px;
  padding-top: 10px;
  text-align: center;
  width: 200px;
}

.films, .url {
  border-bottom: 1px solid yellow;
  height: 50px;
  overflow-x: auto;
  padding-top: 10px;
  text-align: center;
  width: 350px;
}

.url {
  width: 280px;
}

.films {
  border-right: 1px solid yellow;

}


.trHead, .tr {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.trHead {
  background-color: rgba(85, 85, 85, 0.3);
  border-radius: 8px;
}
