.table {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.table-heade, .table-body {
  overflow: auto;
  width: 100%;
}

.table-row-heade {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.planet-info {
  overflow: auto;
  width: 7.5%;
}
