/* body {
  background-image: url('./assets/ciencia-do-planeta-espacial-a-noite-gerada-por-ia.jpg');
  background-size: cover;
} */

body {
  background-color: rgb(24, 24, 24);
}

:root {
  color: white;
  font-family: sans-serif;
}
